@use 'header';
@use 'menu';
@use 'button';
@use 'section';
@use 'form';

$blue: #310A90;
$green: #42E2B8;
$white: #ffffff;
$lavander: #bbd0ff;

body {
  background: $lavander;
  min-block-size: 100vh;
  margin: 0;
}

.wrapper {
  max-inline-size: 1366px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  margin: auto;
}