.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: 80px;
}

.menu {
  display: none;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.menu ul a {
  font-size: 14px;
  font-weight: bold;
  line-height: 22.65px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.menu ul a.is-active {
  color: #310A90;
}

@media screen and (min-width: 768px) {
  .menu {
    display: block;
  }
}
.button {
  font-size: 14px;
  font-weight: bold;
  line-height: 22.65px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #310A90;
  color: #ffffff;
  padding-block: 13px;
  padding-inline: 24px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button.is-secondary {
  background: unset;
  color: #310A90;
  border: 2px solid #310A90;
}

.section {
  height: calc(100vh - 80px);
}
@media screen and (min-width: 1024px) {
  .section {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
}
.section--description {
  padding: 2rem 0;
}
@media screen and (min-width: 1024px) {
  .section--description {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
}
.section--description h2 {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #310A90;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .section--description h2 {
    text-align: left;
  }
}
.section--description p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
  text-align: center;
  color: #310A90;
}
.section--image {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .section--image {
    margin: auto;
  }
}
.section--image img {
  width: 300px;
  border-radius: 1rem;
}

.Form {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .Form {
    align-items: center;
    inline-size: 500px;
  }
}

.form h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #310A90;
  inline-size: 300px;
}
@media screen and (min-width: 1024px) {
  .form h2 {
    inline-size: 500px;
  }
}
.form label {
  display: flex;
  flex-direction: column;
  color: #310A90;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  gap: 0.5rem;
}
.form label input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: none;
}
.form label textarea {
  margin-bottom: 1rem;
  border-radius: 0.2rem;
  border: none;
}

body {
  background: #bbd0ff;
  min-block-size: 100vh;
  margin: 0;
}

.wrapper {
  max-inline-size: 1366px;
  -webkit-padding-end: 16px;
          padding-inline-end: 16px;
  -webkit-padding-start: 16px;
          padding-inline-start: 16px;
  margin: auto;
}/*# sourceMappingURL=styles.css.map */