@use 'general';

$blue: #310A90;
$green: #42E2B8;
$white: #ffffff;

@mixin button-text {
  font-size: 14px;
  font-weight: bold;
  line-height: 22.65px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
}

.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: 80px;
}

.menu {
  display: none;
}

.menu ul {
  display: flex;
  list-style: none;
  gap: 40px;
}

.menu ul a {
  @include button-text();
  text-decoration: none;
  color: $white;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.menu ul a.is-active {
  color: $blue;
}

.button {
  @include button-text();
  background: $blue;
  color: $white;
  padding-block: 13px;
  padding-inline: 24px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}

.button.is-secondary {
  background: unset;
  color: $blue;
  border: 2px solid $blue;
}

@media screen and (min-width: 768px) {
  .menu {
    display: block;
  }
}